<h1>Categories</h1>

<% if @categories.any? %>
  <% @categories.each { |category| %>
    <h3 id="<%= category.id %>"><%= category.name %></h3>
      <% @postings.each { |posting| %>
        <ul>
          <% if posting.categories.include?(category) %>
            <li><a href='/postings/<%= posting.id %>'><%= posting.description %></a>
            (quantity: <%= posting.quantity %>)</li>
          <% end %>
        </ul>
      <% } %>
  <% } %>
<% end %>

<a href='/search'>return to search</a>
<br>
<a href="/">Home</a>
