<div class="container">
  <h1>Categories</h1>
  <div class="content">
  <% if @categories.any? %>
    <% @categories.each { |category| %>
      <h3 id="<%= category.id %>"><%= category.name %></h3>
        <% @postings.each { |posting| %>
          <div class="card-container card--fixedWidth">
            <div class="card">
              <div class="card__description">
              <% if posting.categories.include?(category) %>
                <h2><a id="postings1" href='/postings/<%= posting.id %>'><%= posting.description %></a></h2>
                <div class="post-details">
                <h3>Location:</h3><em><%= posting.location %></em>
                <h3>Quantity:</h3><em><%= posting.quantity %></em>
                <h3>User:</h3>
                <em><%= posting.user.name %></em>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        <% } %>
    <% } %>
  <% end %>

  </div>
<div>
