<div class="wrap">

  <div class="content">
    <% if @postings.any? %>
    <% @postings.each do | posting |%>
    <div class="card-container card--fixedWidth">
    <div class="card">

      <div class="card__image" id="card-1">
        <div class="image-overlay">
        </div>


      </div>
      <div class="card__actions">
      </div>
      <div class="card__description">
        <a id="postings1" href="/postings/<%= posting.id %>">
        <h2><%= posting.description %></h2></a>
        <h3><%= posting.location %></h3>
        <h3><%= posting.quantity %></h3>
        <h3><%= posting.user.name %></h3>
      </div>
    </div>
    </div>

    <% end %>
    <% end %>
</div>
