<div class="container">

  <h3>All postings</h3>
  <% if @postings.any? %>
    <ul>
      <% @postings.each { |posting| %>
        <li><a href="/postings/<%= posting.id %>"><strong><%= posting.description %></strong></a>
          <br>
          Categories: <% posting.categories.each { |category| %>
            <a href="/search/category#<%= category.id %>"><%= category.name %></a>
            <% } %>
          <br>
          Source Type: <%= posting.source_type %>
          <br>
          Quantity: <%= posting.quantity %>
          <br>
          Location: <%= posting.location %>
          <br>
          User: <%= posting.user.name %>
          <br>
          Created at: <%= posting.created_at %></li>
          <br>
          <a href="/postings/<%= posting.id %>">Details</a>
          <hr>
          </li>
      <% } %>
    </ul>
  <% end %>

  <a href="/">Home</a>
<div>
