<div class="container">

  <%= @posting.description %>
    <br>
    <% @posting.categories.each { |category| %>
      <%= category.name %>
      <% } %>
    <br>
    <%= @posting.source_type %>
    <br>
    <%= @posting.quantity %>
    <br>
    <%= @posting.location %>
    <br>
    User: <%= @posting.user.name %>
    <br>

  <% if session[:user_id] %>
    <form class="" action="/postings/<%= @posting.id%>/contact" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="body">Message</label>
    <input type="text" name="body">
    <button type="submit" name="button">Send</button>
    </form>
  <% end %>

  <form action="/postings/<%= @posting.id %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Posting</button>
  </form>
<div>
