<h3>All postings</h3>
<% if @postings.any? %>
  <ul>
    <% @postings.each { |posting| %>
      <li><a href="/postings/<%= posting.id %>"><strong><%= posting.description %></strong></a>
        <br>
        <% posting.categories.each { |category| %>
          <%= category.name %>
          <% } %>
        <br>
        <%= posting.source_type %>
        <br>
        <%= posting.quantity %>
        <br>
        <%= posting.location %></li>
        Created at: <%= posting.created_at %></li>
        <hr>
    <% } %>
  </ul>
<% end %>

<a href="/">Home</a>
