<div class="container">
  <h1>All postings</h1>
  <% if @postings.any? %>
    <div class="content">
      <% @postings.each { |posting| %>
        <div class="card-container card--fixedWidth">
          <div class="all-card">
            <div class="card__description">
              <h2><a id="postings1" href="/postings/<%= posting.id %>"><%= posting.description %></a></h2>
                <div class="post-details">
                  <h3>Categories:</h3><% posting.categories.each { |category| %>
                  <h3><a href="/search/category#<%= category.id %>"><em><%= category.name %></em></a></h3>
                  <% } %>
                  <h3>Source Type:</h3><em><%= posting.source_type %></em>
                  <h3>Quantity:</h3><em><%= posting.quantity %></em>
                  <h3>Location:</h3><em><%= posting.location %></em>
                  <h3>User:</h3><em><%= posting.user.name %></em>
                </div>
            </div>
          </div>
        </div>
      <% } %>
  <% end %>
    </div>
</div>
