<div class="container">
  <h1>SEND A MESSAGE</h1>
  <div class="item">
  <strong><%= @posting.description %></strong>
    <br>
    <div class="col1">
    <h4>Categories:</h4>
    <% @posting.categories.each { |category| %>
      <em><%= category.name %></em>
    <% } %>
    <h4>Source Type:</h4>
    <em><%= @posting.source_type %></em>
    <h4>Quantity:</h4>
    <em><%= @posting.quantity %></em>
    </div>
    <div class="col2">
    <h4>Location:</h4>
    <em><%= @posting.location %></em>
    <h4>User:</h4>
    <em><%= @posting.user.name %></em>
    </div>
  </div>
  <% if session[:user_id] %>
    <h3 id="message">Send a message to <%= @posting.user.name %></h3>
    <form class="" action="/postings/<%= @posting.id%>/contact" method="post">
    <br>
    <input type="text" class="form-control" name="title" placeholder="Message title...">
    <br>
    <textarea class="form-control" rows="15" cols="100" name="body" placeholder="Please type message here..."></textarea>
    <br>
    <button type="submit" class="btn btn-warning" name="button">Send</button>
    </form>
  <% if session[:user_id] == @posting.user.id %>
  <hr>
  <form action="/postings/<%= @posting.id %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button class="btn btn-danger" type="submit">Delete Posting</button>
    <a href="/postings/<%= @posting.id %>/edit" class="btn btn-primary">Update Posting</a>
  </form>
  <% end %>
  <% end %>
<div>
