<% if @postings.any? %>
  <ul>
    <% @postings.each { |posting| %>
      <li><%= posting.description %>
        <br>
        <% posting.categories.each { |category| %>
          <%= category.name %>
          <% } %>
        <br>
        <%= posting.source_type %>
        <br>
        <%= posting.quantity %>
        <br>
        <%= posting.location %>
        <br>
        User: <%= posting.user.name %>
        <br>
        <a href="/postings/<%= posting.id %>">Details</a>
      </li>
    <% } %>
  </ul>
<% end %>

<a href="/">Home</a>
